@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

body {
    font-family: "Ubuntu Mono", monospace;
    font-size: 16px;
    margin: 0;
}

#terminal {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#output {
    background-color: black;
    color: white;
    padding: 8px;
    min-height: 400px;
    flex: 1;
    overflow-y: auto;
}

#output::selection,
#output > *::selection {
    background-color: yellow;
    color: black;
}

#output a {
    color: white;
}

#input-container {
    background-color: black;
    padding: 8px;
    display: flex;
}

#prompt {
    color: #7f8c8d;
    font-weight: bold;
    padding-right: 8px;
    user-select: none;
}

#input {
    background-color: transparent;
    color: white;
    font-family: "Ubuntu Mono", monospace;
    font-size: 16px;
    border: none;
    width: 100%;
    outline: none;
}

.highlight {
    background-color: white;
    color: blueviolet;
}
